
*, ::after, ::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Clock';
  src: url('../assets/fonts/clock.ttf');
}

html {
  height: 100vh;
}

body {
  background-color: gray;
  min-height: 100vh;
  margin: 0;
  font-size: 16px;
}

.main {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  outline: 0;
}

h4 {
  margin-bottom: 0;
}

.arrow-keys {
  display: inline-block;
  width: 50px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/img/arrow-keys.png');
}

.about {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
