:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 35px;
  transform: translateX(85px);
}

div {
  width: 234px;
  height: 133px;
  background-repeat: no-repeat;
  background: url('assets/img/left-top.png');
  transition: all 0.4s ease;
}

.left-top {
  background-image: url('assets/img/left-top.png');
  transition: all 0.4s ease;
}

.left-bottom {
  background-image: url('assets/img/left-bottom.png');
  transition: all 0.4s ease;
}

.right-top {
  background-image: url('assets/img/right-top.png');
  transition: all 0.4s ease;
}

.right-bottom {
  background-image: url('assets/img/right-bottom.png');
  transition: all 0.4s ease;
}
