:host {
  display: block;
  position: relative;

  img {
    position: absolute;
    transform-origin: center center;
    display: block;
  }
}

.bird-container {
  position: relative;
}

.bird {
  position: absolute;
  display: block;
  width: 59px;
  height: 31px;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: step-start;
  animation-iteration-count: 1;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;

}

.bird-right {
  right: 80px;
  animation-name: bird-right;
}

.bird-left {
  left: 80px;
  animation-name: bird-left;
}

@keyframes bird-right {
  0% {
    background-image: url("../assets/img/broken-egg.png");
    top: 210px;
    opacity: 1;
    right: 80px;
  }

  20% {
    background-image: url("../assets/img/broken-egg-1.png");
    top: 210px;
    opacity: 1;
    right: 80px;
  }

  30% {
    background-image: url("../assets/img/broken-egg-2.png");
    top: 210px;
    opacity: 1;
    right: 80px;
  }

  60% {
    background-image: url("../assets/img/right-bird-1.png");
    top: 190px;
    right: 70px;
    opacity: 1;
  }

  70% {
    background-image: url("../assets/img/right-bird-2.png");
    top: 210px;
    right: 40px;
    opacity: 1;
  }

  90% {
    background-image: url("../assets/img/right-bird-3.png");
    top: 210px;
    right: 0;
    opacity: 1;
  }

  100% {
    background-image: url("../assets/img/right-bird-3.png");
    top: 210px;
    right: -40px;
    opacity: 0;
  }
}

@keyframes bird-left {
  0% {
    background-image: url("../assets/img/broken-egg.png");
    top: 210px;
    opacity: 1;
    left: 80px;
  }

  20% {
    background-image: url("../assets/img/broken-egg-1.png");
    top: 210px;
    opacity: 1;
    left: 80px;
  }

  30% {
    background-image: url("../assets/img/broken-egg-2.png");
    top: 210px;
    opacity: 1;
    left: 80px;
  }

  60% {
    background-image: url("../assets/img/left-bird-1.png");
    top: 190px;
    left: 70px;
    opacity: 1;
  }

  70% {
    background-image: url("../assets/img/left-bird-2.png");
    top: 210px;
    left: 40px;
    opacity: 1;
  }

  90% {
    background-image: url("../assets/img/left-bird-3.png");
    top: 210px;
    left: 0;
    opacity: 1;
  }

  100% {
    background-image: url("../assets/img/left-bird-3.png");
    top: 210px;
    left: -40px;
    opacity: 0;
  }
}
