:host {
  display: block;
  position: relative;

  img {
    position: absolute;
    transform-origin: center center;
    display: block;
  }
}

.bird-container {
  position: relative;
}

.bird {
  position: absolute;
  display: block;
  width: 59px;
  height: 31px;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: step-start;
  animation-iteration-count: 1;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;

}

.bird-right {
  right: 80px;
}

.bird-left {
  left: 80px;
}

.egg {
  height: 30px;
  width: 30px;
  background-image: url("./assets/img/egg.png");
  background-size: contain;
  position: absolute;
}